@use 'fonts';
@use 'variables' as *;
@use 'accordion' as *;
@use 'accordion-item' as *;

* { 
  box-sizing: border-box; 
  margin: 0;
  font-family: $font-primary;
}

body { 
  margin: 0; 
}

button {
  padding: 0;
  cursor: pointer;

  &:focus-visible {
    outline: $accent auto 1px;
  }
}