@use 'variables' as *;

:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: $text;
}

* { 
  box-sizing: border-box; 
}

body { 
  margin: 0; 
}

